@import '../mixins';

.add__entry__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
  @include for-tablet-portrait-up {
    width: 100%;
    flex-flow: row nowrap;
  }

  .add__entry__value {
    width: 100%;
    @include for-tablet-portrait-up {
      width: 46%;
    }
  }

  .add__entry__type {
    margin-top: 16px;
    width: 100%;
    @include for-tablet-portrait-up {
      width: 28%;
    }
  }

  button {
    margin-top: 16px;
    height: 56px;
    width: 100%;
    @include for-tablet-portrait-up {
      width: 16%;
    }
  }
}