@import './mixins';


.budgetlist__wrapper,
.current__budget__wrapper {
  color: #fff;
  width: 100%;
  h2 {
    text-align: center;
  }
  @include for-tablet-portrait-up {
    width: 45%;
  }

  .MuiPaper-rounded {
    margin-top: 0px;
    @include for-tablet-landscape-up {
      margin-top: 0px;
    }
  }
}


.budgetlist__wrapper {
  margin-top: 20px;
}

.current__budget__wrapper {
  margin-top: 20px;

  h2 {
    padding-top: 16px;
  }
}


.current__budget__content {
  padding-bottom: 16px;
  p {
    color: #555;
    border-bottom: 2px solid rgba(25,33,22, 0.1);
    border-radius: 1px;
    line-height: 1.5em;
    svg {
      color: #2196F3;
      position: relative;
      top: 6px;
    }
  }
  span {
   //color: #f25e7f;
   color: #555;
   color: #2196F3;
    margin-left: 8px;
  }
  h2 {
    line-height: 2.2;
    border-bottom: 2px  dashed #2196f3;
  }
}

.current__budget__button__wrapper {
  display: flex;
  justify-content: center;
}

.current__budget__button {
  margin-top: 16px !important;
  border: 1px solid #2196F3 !important;
  .MuiButton-label {
    color: #2196F3;
  }

  &--back {
    .MuiButton-label {
      color: #fff;
    }
  }

  &--expanded {
    width: 100%;
    margin-top: 16px !important;
    border: 2px solid #fff !important;

    .MuiButton-label {
      color: #fff;
    }
    
    background: white;
  }

  &--expanded.success {
    border: 2px solid #4BB543 !important;
  }

  &--expanded.defaultblue {
    border: 2px solid #2196F3 !important;
    justify-content: flex-start;
  }
}

.deleteaccount--expanded--danger {
  border: 2px solid red !important;

  .MuiButton-label {
    color: red !important;
  }
}

.budgetlist__container {
  height: 480px;
  border: 2px solid #fff;
  border-radius: 5px;
  overflow: auto;
}

.add__budget__fieldswrapper {
  display: block;
  @include for-tablet-landscape-up {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    .add__budget__number,
    .add__budget__select {
      width: 45%;
    }
  }
  
 .add__budget__select {
    margin-top: 16px;
    margin-bottom: 16px;
    @include for-tablet-portrait-up {
      margin-right: 16px;
    }
  }
}

.show__mobile__only {
  display: none;
  @include for-phone-only {
    display: block;
  }
}
.show__desktop__only {
  display: none;
  @include for-tablet-portrait-up {
    display: block;
  }
}

.entry__item__cont {
  margin: 16px;
  border-bottom: 2px solid rgba(25,33,22, 0.1);
  @include for-tablet-portrait-up {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    text-align: left;
  }
  .entry__item__deep {
    width: 100%;
  }
}

.current__budgetselected__paper {
  overflow: auto;
  display: flex;
  height: 483px;
  @include for-tablet-portrait-up {
    height: 700px;
  }
}