@import './mixins';


.budgetlist__wrapper,
.current__budget__wrapper {
  color: #fff;
  width: 100%;
  h2 {
    text-align: center;
  }
  @include for-tablet-portrait-up {
    width: 45%;
  }

  .MuiPaper-rounded {
    margin-top: 0px;
    @include for-tablet-landscape-up {
      margin-top: 0px;
    }
  }
}


.budgetlist__wrapper {
  margin-top: 20px;
}

.current__budget__wrapper {
  margin-top: 20px;
}

.current__budget__wrapper h2 {
  padding-top: 16px;
}

.current__budget__content {
  padding-bottom: 16px;
  p {
    color: #2196F3;
    border-bottom: 2px solid rgba(25,33,22, 0.1);
    border-radius: 1px;
    line-height: 1.5em;
  }
  span {
   //color: #f25e7f;
   color: #555;
    margin-left: 8px;
  }
  h2 {
    line-height: 2.2;
    border-bottom: 2px  dashed #2196f3;
  }
}

.current__budget__button__wrapper {
  display: flex;
  justify-content: center;
}

.current__budget__button {
  margin-top: 16px !important;
  border: 1px solid #2196F3 !important;
  .MuiButton-label {
    color: #2196F3;
  }

  &--expanded {
    width: 100%;
    margin-top: 16px !important;
    border: 2px solid #fff !important;

    .MuiButton-label {
      color: #fff;
    }
    
    background: white;
  }

  &--expanded.success {
    border: 2px solid #4BB543 !important;
  }
  &--expanded.defaultblue {
    border: 2px solid #2196F3 !important;
    justify-content: flex-start;
  }
}

.budgetlist__container {
  height: 462px;
  border: 2px solid #fff;
  border-radius: 5px;
  overflow: scroll;
}